:root{
	--hei : 100vh;
	--wid : 100vw;
}
body{
	background-color: black;
}
#box{
	height: var(--hei);
	width: var(--wid);
	background-color: skyblue;
	border: 2px solid black;
	margin: auto;
	color: green;
	position: relative;
	font-size: 5em;
}
#bird{
	height: 5vh;
	width: 10vw;
	border-radius: 50%;
	background-color: black;
	position: absolute;
	margin-left: 31.6vw;
	margin-top: 22.5vh;
}
#bu{
	
	margin-top: 5vw;
	margin-bottom: 5vw;
	color: green;
	font-size: 2em;
	background-color: lightgrey;
}
#play{
	color: brown;
	font-size: 1.5em;
	text-align: center;
}
#one{
	position: absolute;
	top: 0px;
	right: 0px;
	background-color: #ffffff;
	height: 10vh;
	width: 10vw;
	border: 1px solid black; 
}
#two{
	position: absolute;
	bottom: 0px;
	height: 15vh;
	width: 10vw;
	background-color: #ffffff;
	border: 1px solid black; 
	right: 0px;
}
#flame{
	width: 0px;
	height: 0px;
	margin-left: 34vw;
	margin-top: 27.5vh;
	background-color: skyblue;
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	border-top:  15px solid yellow;
}
.rods{
	animation: slide 10s  linear;
}
@keyframes slide{
	0%{left: 73.33vw;}
	50%{left: 25vw;}
	100%{left: 0vw;}
}
